body {
  margin: 0;
  background-color: #F6F6F6;
  font-family: 'Poppins', sans-serif;
}

footer {
  text-align: center;
  padding: 50px;
}

.ft1{
  grid-area: left;
  /* margin: 0px 0px 0px 0px; */
  /* border: 2px solid purple; */
}

.ft2{
  grid-area: middle;
  /* margin: 0px 0px 0px 0px; */
  /* border: 2px solid purple; */
}

.ft3{
  grid-area: right;
  /* margin: 0px 0px 0px 0px; */
  /* border: 2px solid purple; */
}


.instagram{
  grid-area: left;
  /* margin: 0px 0px 0px 0px; */
  /* border: 2px solid purple; */
}

.linkedin{
  grid-area: middle1;
  /* margin: 0px 0px 0px 0px; */
  /* border: 2px solid purple; */
}

.whatsapp{
  grid-area: middle2;
  /* margin: 0px 0px 0px 0px; */
  /* border: 2px solid purple; */
}

.twitter{
  grid-area: right;
  /* margin: 0px 0px 0px 0px; */
  /* border: 2px solid purple; */
}

.socials{
  display: grid;
  grid-template-areas:
  'left middle right';
}

.social-link{
  display: grid;
  grid-template-areas:
  'left middle1 middle2 right';
  /* border: 2px solid red; */
  margin: 0px 0px 20px 0px;
}

.social-link img{
  width: 30px;
  height: auto;
}

footer p{
  border-top: 1px solid gray;
  padding-top: 20px;
}

.social-link a{
  opacity: 0.6;
  transition: 0.5s;
}

.social-link a:hover{
  color: gray;
  opacity: 1;
}

@media(max-width: 1100px){
  .social-link img{
    width: 20px;
    height: auto;
  }
}